<?xml version="1.0" encoding="UTF-8"?>
<suite name="Výchozí kontrola bezpečnosti">
	<checks>
		<suite name="Kontrola nastavení práv k tiskárnám">
			<checks>
				<wmi name="Najít fax v tiskárnách.">
					<scope>root\CIMV2</scope>
					<query>SELECT * FROM Win32_Printer WHERE Name LIKE 'Fax'</query>
					<expected property="Name" value="Fax" />
				</wmi>
			</checks>
		</suite>
		<suite name="DVA">
			<checks>
				<wmi name="neco.">
					<scope>root\CIMV2</scope>
					<query>SELECT * FROM Win32_Printer WHERE Name LIKE 'Fax'</query>
					<expected property="Name" value="Fax" />
				</wmi>
				<wmi name="neco dve.">
					<scope>root\CIMV2</scope>
					<query>SELECT * FROM Win32_Printer WHERE Name LIKE 'Fax'</query>
					<expected property="Name" value="Fax" />
				</wmi>
			</checks>
		</suite>
	</checks>
</suite>