<?xml version="1.0" encoding="UTF-8"?>
<tests>
              <!-- test USER probehne v poradku ikdyz jsou tam jine ucty to je chyba -->
  <!--
  <testcase name="user">                 
    <scope>root\CIMV2</scope>
    <query>SELECT * FROM Win32_GroupUser WHERE GroupComponent.Name = 'Administrators'</query>
    <expected property="Status">
      <value>Degraded</value>
    </expected>
  </testcase>
    -->
  <testcase name="Kontrola nastavení práv k tiskárnám">
	  <tests>
		  <wmi name="Najít fax v tiskárnách.">
			<scope>root\CIMV2</scope>
            <query>SELECT * FROM Win32_Printer WHERE Name LIKE 'Fax'</query>
            <expected property="Name">
                <value>Fax</value>
            </expected>
		  </wmi>
	  </tests>
  </testcase>  
  
  <!-- funkcni testy 
  <testcase name="aktivaceOS">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM SoftwareLicensingProduct WHERE Name LIKE "%Windows%" AND LicenseStatus = 1</query>
        <expected property="LicenseStatus">
            <value>1</value>
        </expected>
        </testcase>
         
   <testcase name="c4kontrolaBIOSu">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_BootConfiguration WHERE Name='BootConfiguration' AND Caption LIKE "%Harddisk0%" </query>
        <expected property="Caption">
            <value>.*\\Device\\Harddisk0.*</value>
           
        </expected>
    </testcase>      -->
  <!-- 
  <testcase name="c6kontrolaReadyBoost">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
        -->
<!--clanek 7-->
    <testcase name="kontrolaWLANState">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='WlanSvc'</query>
        <expected property="State">
            <value>Stopped</value>
        </expected>
    </testcase>
    
    <testcase name="kontrolaWLANStartMode">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='WlanSvc'</query>
        <expected property="StartMode">
            <value>Disabled</value>
        </expected>
    </testcase>
          
    <testcase name="kontrolaWWANState">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='WwanSvc'</query>
        <expected property="State">
            <value>Stopped</value>
        </expected>
    </testcase>       
    
    <testcase name="kontrolaWWANStartMode">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='WwanSvc'</query>
        <expected property="StartMode">
            <value>Disabled</value>
        </expected>
    </testcase>           
<!--clanek 8-->   
    <testcase name="kontrolaBTState">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='bthserv'</query>
        <expected property="State">
            <value>Stopped</value>
        </expected>
    </testcase>
    
    <testcase name="kontrolaBTStartMode">
        <scope>root\CIMV2</scope>
        <query>SELECT * FROM Win32_Service WHERE Name='bthserv'</query>
        <expected property="StartMode">
            <value>Disabled</value>
        </expected>
    </testcase>    

  <!--  
    <testcase name="c9nastaveniSysSluz">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c10prava">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c11uctyskupiny" type="wql">
    
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
                 
    <testcase name="c12prvatisk">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c13odinstalaplikace">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c14zasadyhesel">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c15zasadyuazmceniuctu">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c16kontrolaaudit">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c17kontrolaprav">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c18kontrolazabezpeceni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c19nastavenisluzeb">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c20moznostiprihlaseni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c21onedrive">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c22automprehrav">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c23prihlaseni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c24zasadyskupiny">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>
    
    <testcase name="c25instalacezarizeni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>   
    
    <testcase name="c26pristupvymuloz">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>
    </testcase>       
    
    <testcase name="c27obnoveni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>   
    
    <testcase name="c28obnovenisystemu">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>   
    
    <testcase name="c29prizpusobeni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>   
    
    <testcase name="c30prizpusobeni">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>   
    
    <testcase name="c31pruzkumnik">
        <scope>root\CIMV2</scope>
        <query></query>
        <expected></epected>      -->
</tests>